<!doctype html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Utsav's Blog - {{ blog.title }}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">


    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        .blogs-img {
            background-position: center;
            background-size: cover;
        }

        .blog-card {
            margin-bottom: 15px;
        }
    </style>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}">Utsav Joshi</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto">
                    <a class="nav-item nav-link" href="{% url 'home' %}">Home</a>
                    <a class="nav-item nav-link" href="https://twitter.com" target="_blank">Twitter</a>
                    <a class="nav-item nav-link" href="{% static 'resume.pdf' %}">Resume</a>
                    <a class="nav-item nav-link active" href="{% url 'blogs' %}">Blog</a>
                </div>
            </div>
        </div>
    </nav>
</header>

<main role="main">
    <div class="album py-3 bg-light">
        <div class="container">
            <div class="row">
                <div class="card-body">
                    <h1 class="text-center">{{ blog.title }}</h1>
                    <p class="card-text text-center">{{ blog.pub_date_formatted }}</p>
                </div>
            </div>
        </div>
        {% if blog.image %}
            <img class="blogs-img" width="100%" height="100%"
                 src="{{ blog.image.url }}" alt="" class="card-img-top">
        {% else %}
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                 xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
                 focusable="false"
                 role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title>
                <rect fill="#55595c" width="100%" height="100%"/>
                <text fill="#eceeef" dy=".3em" x="50%" y="50%">Thumbnail</text>
            </svg>
        {% endif %}
        <div class="container">
            <div class="row">
                <div class="card-body">
                    <p class="card-text pt-3">{{ blog.body }}</p>
                </div>
            </div>
        </div>
    </div>
</main>

<footer class="text-muted">
    <div class="container">
        <p class="float-right">
            <a href="#">Back to top</a>
        </p>
        <p class="text-center">Copyright &copy; Utsav Joshi, {% now "Y" %}</p>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>

</body>
</html>
